<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcriptify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="main">

        <div class="hero">
            <div class="nav">
                <div class="left">
                    <h2>Transcriptify</h2>
                </div>
                <div class="right">
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                </div>
            </div>
            <h1>YouTube Video Summarizer :</h1>
            <div class="form-container">
                <form id="summarizer-form">
                    <label for="youtube-url" style="color: rgb(37, 140, 243);;">YouTube Video URL:</label>
                    <input type="text" id="youtube-url" name="youtube_url" placeholder="Enter YouTube video URL"
                        required>
                    <button type="submit">Get Summary</button>
                </form>
            </div>
            <div class="result-container">
                <div class="loading" id="loading" style="display: none;">Processing... Please wait.</div>
                <h2>Summary: </h2>
                <div class="summary" id="summary">Upload the url for summary</div>
                <h2>Transcript:</h2>
                <div class="transcript" id="transcript">
                </div>
            </div>

            

        </div>
        <div class="second">
            <div class="heading">
                <h1>How to Summarize YouTube Videos?</h1>
                <p>You can easily use Transcriptify using this three steps</p>
            </div>
            <div class="cards">
                <div class="box">
                    <h3>Step 1: Get YouTube video link</h3>
                    <p>Copy and paste the YouTube video link into Transcriptify.</p>
                </div>
                <div class="box">
                    <h3>Step2: Generate Summary of YouTube</h3>
                    <p>Click the "Get Summary" button, and Transcriptify will fetch the transcript and summarize the YouTube video.</p>
                </div>
                <div class="box">
                    <h3>Step3: Read the AI summary</h3>
                    <p>Read the concise summary, and save valuable time.</p>
                </div>
            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>